
.container {
    height: 100vh;
    text-align: center;
    padding: 5%;
}

.sub-title-number {
    color: darkgray;
}

.sub-title {
    color: var(--color-heading-text);
    margin: 20px 0 0;
}

.img-container {
    display: flex;
    justify-content: center;
}

.destination-img {
    transform: scale(.6);
}

.nav-container {
    margin-bottom: 1rem;
    min-height: 5vh;
    /* background-color: coral; */
}

.destination-links {
    height: 100%;
}

.destiontion::after {
    content: '';
}

.active {
    /* background-color: #fff; */
}

.title {
    text-transform: uppercase;
}

.stat-subheadings {
    text-transform: uppercase;
}