
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
  /* Screen breakpoints */
  --breakpoint-desktop: 1024px;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 480px;

  /* Colors */
  --color-background: #0b0d17;
  --color-heading-text: #FFFFFF;
  --color-subtext: #D0D6F9;

  /* Typography */
  --font-family-primary: Bellefair, sans-serif;
  --font-family-secondary: Barlow Condensed, sans-serif;

  --font-size-heading-1: 15rem;
  --font-size-heading-2: 10rem;
  --font-size-heading-3: 5.6rem;
  --font-size-heading-4: 3.2rem;
  --font-size-heading-5: 2rem; /* Secondary font family */
  --font-size-nav-items: 1.4rem;

  --font-size-subheading-1: 2.8rem;
  --font-size-subheading-2: 1.4rem; /* Secondary font family */
  --font-size-nav-text: 1.6rem; /* Secondary font family */

  --letter-spacing-heading-5: 0.475rem;
  --letter-spacing-subheading-2: 0.235rem;
  --letter-spacing-nav-text: 0.27rem;
}

/* reset css rules */

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

h1,h2,h3,h4, .link-number-active {
  color: var(--color-heading-text);
}

h1,h2,h3,h4,button {
  font-family: var(--font-family-primary);
  font-weight: 400;
}

h5 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-heading-5);
}


h1,h2,h3,h4,h5,p {
  padding-top: 1rem;
}

h5, p {
  color: var(--color-subtext);
}

h1 {
  font-size: clamp(90px, 20vw, var(--font-size-heading-1));
}
h2 {
  font-size: var(--font-size-heading-2);
}
h3 {
  font-size: var(--font-size-heading-3);
}
h4 {
  font-size: var(--font-size-heading-4);
}
h5 {
  font-size: var(--font-size-heading-5);
}
p {
  font-size: clamp(1.6rem,2.2vw,2rem);
  line-height: 2;
  max-width: 500px;
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  /* pointer-events: none; */
}

@media all and (min-width: 480px) {
  .App {
    background-image: url("./assets/home/background-home-tablet.jpg");
    padding: 0 0 5% 0; 
  }
}

@media all and (min-width: 1024px) {
  .App {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
}

.sidebar-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0.9;
  background-color: rgba(0, 0, 0, 0.075);
}