

:root {
  /* colors */

  --clr-background: #0b0d17;
  --clr-text-heading: #FFFFFF;
  --clr-text-subtext: #D0D6F9;

  /* typography */

  --ff-primary: Bellefair, sans-serif;
  --ff-secondary: Barlow Condensed, sans-serif;


  --fs-heading-1: 150px;
  --fs-heading-2: 100px;
  --fs-heading-3: 56px;
  --fs-heading-4: 32px;
  --fs-heading-5: 28px; /* ff-secondary */
  
  --fs-subheading-1: 28px;
  --fs-subheading-2: 14px; /* ff-secondary */
  --fs-nav-text: 16px; /* ff-secondary */

  --chrt-spacing-heading-5: 4.75;
  --chrt-spacing-subheading-2: 2.35;
  --chrt-spacing-nav-text: 2.7;








}